[pause_resume]

#####################################################################
# 	Macros - General 
#####################################################################  

[gcode_macro TIME_DELAY]
gcode:
    {% set minutes = range(12, 0, -1) %}
    {% for minute in minutes %}
        RESPOND TYPE=echo MSG="{minute} Minutes Left"
        G4 P60000
    {% endfor %}

[gcode_macro PRINT_START]
#   Use PRINT_START for the slicer starting script - please customise for your slicer of choice
gcode:
    {% set BED = params.BED|int %}
    {% set EXTRUDER = params.EXTRUDER|int %}
    BED_MESH_CLEAR                    ; clear bed mesh
    CG28                              ; Home axis 
    GO_TO_PURGE                  
    M117 Heating...
    G0 Z25
    M190 S{BED} 			          ; Set and wait bed
    M109 S{EXTRUDER}                  ; Set and wait hotend
    G1 E-5 F3600                      ; Retract 5mm 
    M117 Calibrating...
    NOZZLECLEAN
    QUAD_GANTRY_LEVEL
    BED_MESH_CALIBRATE
    NOZZLECLEAN
    #G0 Z15 F1000
    G28 Z METHOD=CONTACT CALIBRATE=1 F500 ; Set Z with Contact
    SET_GCODE_OFFSET Z=-0.025     ; add a little offset for hotend thermal expansion needs fine tuning, long meltzones require more
    M117 V2.490 Priming...
    GO_TO_PURGE 
    G91
    G1 E8 F600                       ; prime filament
  	G4 P3000 				         ; wait 3s
    G90
    M117 V2.490 Printing...
    
[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script
gcode:   
    M400                             ; wait for buffer to clear
    G92 E0                           ; zero the extruder
    G1 E-5.0 F3600                   ; retract
    G91                              ; relative positioning
    G0 Z5 F3600                      ; move nozzle up
    G0 Y10 F20000                    ; move nozzle to remove stringing      
    M104 S0                          ; turn off hotend
    M140 S0                          ; turn off bed
    M106 S0                          ; turn off fan
    G90
    G1 X280 Y305
    #GO_TO_PURGE 
    BED_MESH_CLEAR                    ; clear bed mesh
    M117 Finished!    

[gcode_macro CG28]
gcode:
   {% if "x" not in printer.toolhead.homed_axes or "y" not in printer.toolhead.homed_axes or "z" not in printer.toolhead.homed_axes %}
    G28
   {% endif %}

[gcode_macro ZDOWN]
gcode:
    SET_GCODE_OFFSET Z_ADJUST=-0.025 MOVE=1

[gcode_macro ZUP]
gcode:
    SET_GCODE_OFFSET Z_ADJUST=0.025 MOVE=1

#[gcode_macro QUAD_GANTRY_LEVEL]
#rename_existing: BASE_QUAD_GANTRY_LEVEL
#gcode:
    #BASE_QUAD_GANTRY_LEVEL
    #GO_TO_PURGE

[gcode_macro QUAD_GANTRY_LEVEL]
rename_existing: _QUAD_GANTRY_LEVEL
gcode:
    # If QGL is not applied, first run a course calibration
    {% if printer.quad_gantry_level.applied == False %}
        _QUAD_GANTRY_LEVEL RETRY_TOLERANCE=1.0
    {% endif %}
    # then perform fine QGL down to desired spec
    # this has to be a separate macro call so the results of the above call will be visible!
    _FINE_QUAD_GANTRY_LEVEL

[gcode_macro _FINE_QUAD_GANTRY_LEVEL]
gcode:
    {% if printer.quad_gantry_level.applied == True %}
        # go for full quality at reduced probing height
        _QUAD_GANTRY_LEVEL HORIZONTAL_MOVE_Z=2.0  # <- set your preferred probing height here!
    {% else %}
        # This should never happen, just perform the full calibration using the defaults
        {action_respond_info("Fine QGL called without calling course QGL first!")}
        _QUAD_GANTRY_LEVEL  # default behavior, no speedup
    {% endif %}
    GO_TO_PURGE
    
[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
    SET_IDLE_TIMEOUT TIMEOUT={printer.configfile.settings.idle_timeout.timeout} ; set timeout back to configured value
    CLEAR_PAUSE
    SDCARD_RESET_FILE
    PRINT_END
    BASE_CANCEL_PRINT


[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
gcode:
    # Parameters
    {% set z = params.Z|default(10)|int %}                                                   ; z hop amount

    {% if printer['pause_resume'].is_paused|int == 0 %}
        SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=zhop VALUE={z}                              ; set z hop variable for reference in resume macro
        SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=etemp VALUE={printer['extruder'].target}    ; set hotend temp variable for reference in resume macro

        #SET_FILAMENT_SENSOR SENSOR=filament_sensor ENABLE=0                                  ; disable filament sensor
        SAVE_GCODE_STATE NAME=PAUSE                                                          ; save current print position for resume
        BASE_PAUSE                                                                           ; pause print
        {% if (printer.gcode_move.position.z + z) < printer.toolhead.axis_maximum.z %}       ; check that zhop doesn't exceed z max
            G91                                                                              ; relative positioning
            G1 Z{z} F900                                                                     ; raise Z up by z hop amount
        {% else %}
            { action_respond_info("Pause zhop exceeds maximum Z height.") }                  ; if z max is exceeded, show message and set zhop value for resume to 0
            SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=zhop VALUE=0
        {% endif %}
        G90                                                                                  ; absolute positioning
        G1 X265 Y295 F6000                                                                   ; park toolhead at front center
        SAVE_GCODE_STATE NAME=PAUSEPARK                                                      ; save parked position in case toolhead is moved during the pause (otherwise the return zhop can error)
        M104 S0                                                                              ; turn off hotend
        SET_IDLE_TIMEOUT TIMEOUT=43200                                                       ; set timeout to 12 hours
    {% endif %}


    
[gcode_macro RESUME]
rename_existing: BASE_RESUME
variable_zhop: 10
variable_etemp: 0
gcode:
    # Parameters
    {% set e = params.E|default(2.5)|int %}                                          ; hotend prime amount (in mm)

    {% if printer['pause_resume'].is_paused|int == 1 %}
        #SET_FILAMENT_SENSOR SENSOR=filament_sensor ENABLE=1                          ; enable filament sensor
        #INITIAL_RGB                                                                    ; reset LCD color
        SET_IDLE_TIMEOUT TIMEOUT={printer.configfile.settings.idle_timeout.timeout}  ; set timeout back to configured value
        {% if etemp > 0 %}
            M109 S{etemp|int}                                                        ; wait for hotend to heat back up
        {% endif %}
        RESTORE_GCODE_STATE NAME=PAUSEPARK MOVE=1 MOVE_SPEED=100                     ; go back to parked position in case toolhead was moved during pause (otherwise the return zhop can error)
        G91                                                                          ; relative positioning
        M83                                                                          ; relative extruder positioning
        {% if printer[printer.toolhead.extruder].temperature >= printer.configfile.settings.extruder.min_extrude_temp %}
            G1 Z{zhop * -1} E{e} F900                                                ; prime nozzle by E, lower Z back down
        {% else %}
            G1 Z{zhop * -1} F900                                                     ; lower Z back down without priming (just in case we are testing the macro with cold hotend)
        {% endif %}
        RESTORE_GCODE_STATE NAME=PAUSE MOVE=1 MOVE_SPEED=60                          ; restore position
        BASE_RESUME                                                                  ; resume print
    {% endif %}

    

#####################################################################
# 	Macros - Purge / Filament
#####################################################################

[gcode_macro PURGE_LINE]
gcode:
	G90
	G1 X10 Y10 F18000
	M83 					; set extruder to relative mode
	G92 E0					; reset extrusion distance
    G1 Z0.4
	G1 X120 E10 F5000
	G1 E-3 F1500 			; retracting
	G92 E0					; reset extrusion distance
	G0 Z20 
	G4 P3000 				; wait 3s
	M82 					; set extruder to absolute mode
	G92 E0					; reset extrusion distance

[gcode_macro GO_TO_PURGE]
gcode:
    SAVE_GCODE_STATE NAME=G2P
		{% set pos     = printer.toolhead.position     %}
	
		#Move toolhead away from finished print
		{% if pos.z <= ( 25 ) %}
			G90
            G1 Z25
		{% else %}
			G91
            G1 Z15 F5000                   ;Raise Z away from print
		{% endif %}
    G90
    G1 X265 Y305 F40000                    ;Move to purge bucket
    G1 Z25 F20000                          ;Move to purge bucket
    RESTORE_GCODE_STATE NAME=G2P

[gcode_macro M600]
gcode:
    SAVE_GCODE_STATE NAME=M600
    GO_TO_PURGE
    #G0 Z5
    G91   
    G1 E-120 F1000                          ;Unload filament
    G90
    M117 Unloaded!
    RESTORE_GCODE_STATE NAME=M600

[gcode_macro LOAD]
gcode:
    SAVE_GCODE_STATE NAME=LOAD
    GO_TO_PURGE
    #G0 Z5
    G91
    G1 E95 F900                 ;Load filament
    G4 P1000
    G1 E5.00 F500               ;purge filament (5mm)
    G4 P2000
    G1 E-5.0 F3600                   ; retract
    G90
    M117 Loaded!
    NOZZLECLEAN    
    RESTORE_GCODE_STATE NAME=LOAD
    SET_IDLE_TIMEOUT TIMEOUT=7200

[gcode_macro NOZZLECLEAN]
# purge and clean the nozzle in prep for printing 
gcode:
    SAVE_GCODE_STATE Name=NOZZLECLEAN
    GO_TO_PURGE
    G90    
    G1 Z5 F7000                ;lower Z
    G0 X200 Y304 F20000 
    G91
    G0 X50 F20000
    G0 X-50
    G0 X50 Y-4
    G0 X-50 
    G0 X50 Y4
    G0 X15                      ;Return to purge location x / y 
    G0 Z25 F7000                ;Raise Z
    G90
    RESTORE_GCODE_STATE Name=NOZZLECLEAN

[gcode_macro M117]
# An update to the display message on lcd gcode to mirror the message into the console (m118)
rename_existing: M117.1
gcode:
  {% if rawparams %}
    {% set escaped_msg = rawparams.split(';', 1)[0].split('\x23', 1)[0]|replace('"', '\\"') %}
    SET_DISPLAY_TEXT MSG="{escaped_msg}"
    RESPOND TYPE=command MSG="{escaped_msg}"
  {% else %}
    SET_DISPLAY_TEXT
  {% endif %}